$back_color: #000;
$h_color: aqua;
body{
    background-color: $back_color
}

h1{
    color: $h_color;
    span{
        font-weight: bold;
        background: green
    }
}
.span_class{
    color: $h_color
}
.cont_main{
    margin-bottom: 60px
}
table{
    font-size: 12px
}

.fixHeader{
    position: fixed
}
.easylink{
    margin-top: 60px;
    font-size: 12px
}
.menu-border{
    border-bottom: 1px solid #ccc
}